.chatListText{
    -fx-padding: 15 0 10 0;
}

.chatListTextObject{
    -fx-font: 20px Tahoma;
}

.chatListHBox{
    -fx-background-color: #fff;
}

.chatListHBox:hover{
    -fx-background-color:#00f;
}
.chatListScrollPane > .viewport {
   -fx-background-color: transparent;
}

.chatListScrollPane{
    -fx-background-color: #fff;
    -fx-fit-to-width:true;
    -fx-fit-to-height:true;
}

.active{
    -fx-background-color:#00f;
}

.buttonsHBox{
    -fx-padding:20;
    -fx-spacing:20;
}